 ## Check if the package already exists

In [2]:
#check if the package already exist.

pip show snowflake-connector-python

Name: snowflake-connector-python
Version: 2.6.0
Summary: Snowflake Connector for Python
Home-page: https://www.snowflake.com/
Author: Snowflake, Inc
Author-email: support@snowflake.com
License: Apache License, Version 2.0
Location: c:\users\admin\anaconda3\lib\site-packages
Requires: setuptools, idna, pyOpenSSL, boto3, azure-storage-blob, pyjwt, requests, azure-common, chardet, cryptography, pycryptodomex, pytz, certifi, asn1crypto, cffi, oscrypto
Required-by:
Note: you may need to restart the kernel to use updated packages.

### If the package does not exist - install the package

In [ ]:
#command

pip install snowflake-connector-python

 ## Create a configuration file as a nested dictionary

In [4]:

conns = {'SnowflakeDB':{'UserName': 'python','Password':'Pythonuser1','Host':'ne79526.ap-south-1.aws'}}

### Create the connection

In [5]:
#import the module

import snowflake.connector


#create the connection 

connection = snowflake.connector.connect(
                 user=conns['SnowflakeDB']['UserName']
                 ,password = conns['SnowflakeDB']['Password']
                 ,account =conns['SnowflakeDB']['Host'])

 #### Import Pandas

In [6]:
 import pandas as pd

 #### Read SQL query or database table into a Pandas DataFrame

In [7]:
 pd.read_sql("SELECT * FROM PYTHON.PUBLIC.DEMO WHERE FIRST_NAME IN ('Michael','José')", connection)

   ID FIRST_NAME   LAST_NAME GENDER
0   2    Michael       Viera      M
1   6       José  El Francés      M
2   9       José   El Morito      M