In [ ]:
'''
Dataset utilized for the purpose of illustration may be downloaded from the link below 
--- >> https://drive.google.com/file/d/1rpk9ZbNf-AsmVP17FzXyWWogUygihPGy/view?usp=sharing <<---

Whilst importing financial time series data; many a times the date&time value is read into a
python dataframe as a string. 

In this exercise; we discuss

- Import a time series data into a python dataframe from a .csv file
- Parse the date&time column into a python understandable date format using strptime()
- Convert date to a python datetime object
- Take the dataset for a spin; using features available in datetime module.
'''

In [1]:
#import pandas

import pandas as pd

#read the data into variable df
df = pd.read_csv('C:\PYTHON\PYTHONCODE\CRYPTO.csv')

#display the first 5 lines of the dataframe
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [2]:
#Analyse the datset - Python does not undertstand this format
df.head(2)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

In [3]:
#The date column is currently stored as a string

df.loc[1, 'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [4]:
#import datetime library
from datetime import datetime

#iterate and transform, string date column using datetime.strptime method.
for i in range(len(df)):
    df.loc[i,'Date'] = datetime.strptime(df.loc[i,'Date'], "%Y-%m-%d %I-%p")
        
#convert Date column to Pandas datetime object    
df['Date'] = pd.to_datetime(df['Date'])  

#check the Dtype of columns in Dataframe (similar to Describe in SQL)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  datetime64[ns]
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.3+ MB

In [20]:
df.head()

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [11]:
#convert the date to a datetime object
df['Date'] = pd.to_datetime(df['Date'])

In [12]:
df.head()

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [13]:
#extract a sample date-timestamp
df.loc[1, 'Date'].day_name()

'Friday'

In [193]:
#find the corresponding day
df.loc[1, 'Date'].day_name()

'Friday'

In [11]:
#find the corresponding year
df.loc[1, 'Date'].year

2020

In [127]:
#find the corresponding month
df.loc[1, 'Date'].month

3

In [12]:
#find the corresponding day
df.loc[1, 'Date'].day

13

In [129]:
#find the corresponding hour
df.loc[1, 'Date'].hour

19

In [130]:
#find the corresponding minute
df.loc[1, 'Date'].minute

0

In [132]:
#find the corresponding second
df.loc[1, 'Date'].second

0

In [14]:
#set the datetime column as index
df.set_index('Date', inplace=True)

#Ensure the datetime has been set as index
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23674 entries, 2020-03-13 20:00:00 to 2017-07-01 11:00:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  23674 non-null  object
 1   Open    23674 non-null  float64
 2   High    23674 non-null  float64
 3   Low     23674 non-null  float64
 4   Close   23674 non-null  float64
 5   Volume  23674 non-null  float64
dtypes: float64(5), object(1)
memory usage: 1.3+ MB

In [15]:
#check the maximum index (Date) value 

df.index.max()

Timestamp('2020-03-13 20:00:00')

In [16]:
#check the minimum index (Date) value 

df.index.min()

Timestamp('2017-07-01 11:00:00')

In [17]:
#Number of days

df.index.max() - df.index.min()

Timedelta('986 days 09:00:00')

In [18]:
#all values in a given year, e.g: year 2020

df['2020'].head(2)

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

In [25]:
#all values in a given year and month, e.g: year 2020, month = march

df['2020-03'].head(2)

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

In [19]:
#all values in a given year, month and day, e.g: year 2020, month = march, day =13

df['2020-03-13'].head(2)

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

In [20]:
#Subset the values between a given date range

df['2020-03-13':'2020-03-14'].tail(2)

                     Symbol    Open    High     Low   Close       Volume
Date
2020-03-13 01:00:00  ETHUSD  107.09  110.99   97.00   98.88   8079507.05
2020-03-13 00:00:00  ETHUSD  110.30  117.50  102.92  107.09  10329663.69

In [21]:
#Maximum of the high, between a daterange

df['2019-01':'2019-03']['High'].cumprod()

Date
2019-03-31 23:00:00    1.415500e+02
2019-03-31 22:00:00    1.998261e+04
2019-03-31 21:00:00    2.820946e+06
2019-03-31 20:00:00    3.982047e+08
2019-03-31 19:00:00    5.619863e+10
                           ...
2019-01-01 04:00:00             inf
2019-01-01 03:00:00             inf
2019-01-01 02:00:00             inf
2019-01-01 01:00:00             inf
2019-01-01 00:00:00             inf
Name: High, Length: 2160, dtype: float64

In [22]:
#Minimum of the Close, between a daterange

df['2019-01':'2019-03']['Close'].min()

101.3

In [23]:
#Weekly mean of the closing price

df[['Close']].resample('W').mean().head(2)

                 Close
Date
2017-07-02  268.202162
2017-07-09  261.062083

In [24]:
#Monthly mean of all the values in the Dataframe

df.resample('M').mean().head(2)

                  Open        High         Low       Close        Volume
Date
2017-07-31  220.118963  222.516126  217.489018  220.010969  2.480603e+06
2017-08-31  298.258616  300.082661  296.421465  298.511815  2.056356e+06

In [25]:
#Monthly - column wise customized aggregate stats

df.resample('M').agg({'Close':'mean','Volume':'sum','Low':'min','Open':'max'}).head()

                 Close        Volume     Low    Open
Date
2017-07-31  220.010969  1.818282e+09  130.26  292.54
2017-08-31  298.511815  1.529929e+09  200.82  389.78
2017-09-30  298.524639  1.678947e+09  202.25  395.54
2017-10-31  305.649772  8.155377e+08  275.46  348.45
2017-11-30  355.646292  1.974056e+09  278.88  508.82

In [26]:
#180 days rolling sum of the volume

df[['Volume']].rolling(180).sum().tail(2)

                           Volume
Date
2017-07-01 12:00:00  2.873349e+08
2017-07-01 11:00:00  2.867747e+08

In [27]:
#180 days rolling mean of all columns of a dataframe

df.rolling(180).mean().tail(2)

,Open,High,Low,Close,Volume
Date,,,,,
2017-07-01 12:00:00,264.776389,266.703111,262.333722,264.618778,1.596305e+06
2017-07-01 11:00:00,264.987000,266.886556,262.510333,264.776389,1.593193e+06

In [28]:
#downsampling to half-hourly /forward fill 

df.resample('30min').ffill().head(5)

                     Symbol    Open    High    Low   Close      Volume
Date
2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.1  275.01   679358.87
2017-07-01 11:30:00  ETHUSD  279.98  279.99  272.1  275.01   679358.87
2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.0  274.83   824362.87
2017-07-01 12:30:00  ETHUSD  275.01  275.01  271.0  274.83   824362.87
2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.0  268.79  3010787.99

In [29]:
#downsampling to half-hourly /backward fill 

df.resample('30min').backfill().head(5)

                     Symbol    Open    High    Low   Close      Volume
Date
2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.1  275.01   679358.87
2017-07-01 11:30:00  ETHUSD  275.01  275.01  271.0  274.83   824362.87
2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.0  274.83   824362.87
2017-07-01 12:30:00  ETHUSD  274.83  274.93  265.0  268.79  3010787.99
2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.0  268.79  3010787.99

In [30]:
#30 days rolling correlation  
df['Open'].rolling(30).corr(df['Close']).tail()

Date
2017-07-01 15:00:00    0.813183
2017-07-01 14:00:00    0.769305
2017-07-01 13:00:00    0.716732
2017-07-01 12:00:00    0.687003
2017-07-01 11:00:00    0.721752
dtype: float64

In [31]:
#30 days rolling covariance
df['Open'].rolling(30).cov(df['Close']).tail()

Date
2017-07-01 15:00:00    41.234854
2017-07-01 14:00:00    32.377786
2017-07-01 13:00:00    26.506734
2017-07-01 12:00:00    22.494758
2017-07-01 11:00:00    23.876443
dtype: float64

In [32]:
#30 days exponentially weighted moving mean
df['Close'].ewm(span=30).mean().tail(2)

Date
2017-07-01 12:00:00    266.866573
2017-07-01 11:00:00    267.391955
Name: Close, dtype: float64

In [33]:
#To check if the Date index is unique or not
df.index.is_unique

True

In [34]:
#check the entry with count >1
grouped = df.groupby(level=0)
grouped.count().head()

                     Symbol  Open  High  Low  Close  Volume
Date
2017-07-01 11:00:00       1     1     1    1      1       1
2017-07-01 12:00:00       1     1     1    1      1       1
2017-07-01 13:00:00       1     1     1    1      1       1
2017-07-01 14:00:00       1     1     1    1      1       1
2017-07-01 15:00:00       1     1     1    1      1       1

In [37]:
#subset the entry that shows count>1
df['2020-03-13'].head(2)

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09

In [38]:
df.shift(2).head()

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00     NaN     NaN     NaN     NaN     NaN         NaN
2020-03-13 19:00:00     NaN     NaN     NaN     NaN     NaN         NaN
2020-03-13 18:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 17:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2020-03-13 16:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81

In [39]:
df.shift(-2).tail()

                     Symbol    Open    High    Low   Close      Volume
Date
2017-07-01 15:00:00  ETHUSD  274.83  274.93  265.0  268.79  3010787.99
2017-07-01 14:00:00  ETHUSD  275.01  275.01  271.0  274.83   824362.87
2017-07-01 13:00:00  ETHUSD  279.98  279.99  272.1  275.01   679358.87
2017-07-01 12:00:00     NaN     NaN     NaN    NaN     NaN         NaN
2017-07-01 11:00:00     NaN     NaN     NaN    NaN     NaN         NaN